{% extends "PWEvmeetBundle::layout.html.twig" %}

{% block body %}
	<h3>{{ article.lieu }} - {{ article.dateInvitation|date('d/m/Y') }}</h3>
	<p>Posté par {{ article.user.username }}</p>
	<p>Niveau : {{ article.niveauMin }} / {{ article.niveauMax }}
{% endblock %}