{% extends "PWEvmeetBundle::layout.html.twig" %}

{% block body %}

	<h3>{{ article.lieu }} - {{ article.dateInvitation|date('d/m/Y') }}</h3>
	<p>Posté par {{ article.user.username }}</p>
	<p>Niveau : {{ levelTranslate.translate(article.niveauMin) }} / {{ levelTranslate.translate(article.niveauMax) }}</p>
	
	{% if article.commentaire is not null %}
		<h4>Commentaire</h4>
		<p>{{ article.commentaire }}</p>
	{% endif %}

	{% if article.user !=  user %}
		<p>Nombre de places restantes : {{ article.nbPlace }}</p>
		{% if registredUsers is empty %}
			{% if article.nbPlace > 0 %}
				<a href="{{ path('pw_evmeet_inscription', { 'id': article.id }) }}" class="btn btn-default">S'inscrire</a>
			{% endif %}	
		{% else %}	
			{% for userRegistred in registredUsers %}
				{% if userRegistred == user %}
					<a href="{{ path('pw_evmeet_desinscription', { 'id': article.id }) }}" class="btn btn-default">Se désinscrire</a>
				{% else %}	
					{% if article.nbPlace > 0 %}
						<a href="{{ path('pw_evmeet_inscription', { 'id': article.id }) }}" class="btn btn-default">S'inscrire</a>
					{% endif %}
				{% endif %}	
			{% endfor %}
		{% endif %}	
	{% endif %}

	<p>Utilisateur(s) enregistré(s)</p>

	{% if registredUsers is not empty %}

		{% for userRegistred in registredUsers %}
			{{ userRegistred.username }} 
		{% endfor %}
	{% else %}
		<p>Aucun inscrit</p>
	{% endif %}	

	{% if is_granted('ROLE_USER') %}

		<h4>Poser une question</h4>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_errors(form.content) }}
			{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
		</div>

		{{ form_widget(form.save, {'attr': {'class': 'btn  btn-default', 'value' : ' '}}) }}

		{{ form_widget(form) }}

		{{ form_end(form) }}

	{% else %}    
		<p><a href="{{ path('fos_user_security_login') }}" >Connectez-vous</a> ou <a href="{{ path('fos_user_registration_register')}}">inscrivez-vous</a> pour poser une question</p>
	{% endif %}

	{% if comments is not empty %}
		<h4>Questions</h4>
		{% for comment in comments %}
			<div>
				<p>{{ comment.user.username }}</p>
				<p>{{ comment.content }}</p>
			</div>
		{% endfor %}
	{% endif %}

{% endblock %}
