{% extends "PWEvmeetBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }}  Détail
{% endblock %}

{% block body %}
	<div class="detailContent">
		<div class="titre">
			<h3>{{ article.lieu }}</h3>
			<h3 class="hidden-xs">{{ article.dateInvitation|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }} à {{ article.dateInvitation|date('H:i') }}</h3>
			<h3 class="hidden-sm hidden-md hidden-lg">{{ article.dateInvitation|date("d/m/Y") }} à {{ article.dateInvitation|date('H:i') }}</h3>
		</div>

		<p>Posté par <b>{{ article.user.username }}</b></p>
		<p>Niveau : <b>{{ levelTranslate.translate(article.niveauMin) }} / {{ levelTranslate.translate(article.niveauMax) }}</b></p>

		<h4>Commentaire</h4>
		{% if article.commentaire is not null %}
			<p>{{ article.commentaire }}</p>
		{% else %}
			<p>Aucun commentaire n'a été ajouté à cette sortie</p>
		{% endif %}

		{% if article.user !=  user %}
			<h4>Nombre de places restantes : {{ article.nbPlace }}</h4>
			{% if registredUsers is empty %}
				{% if article.nbPlace > 0 %}
					<a href="{{ path('pw_evmeet_inscription', { 'id': article.id }) }}" class="btn btn-default">S'inscrire</a>
				{% endif %}	
			{% else %}	
				{% for userRegistred in registredUsers %}
					{% if userRegistred == user %}
						<a href="{{ path('pw_evmeet_desinscription', { 'id': article.id }) }}" class="btn btn-default">Se désinscrire</a>
					{% else %}	
						{% if article.nbPlace > 0 %}
							<a href="{{ path('pw_evmeet_inscription', { 'id': article.id }) }}" class="btn btn-default">S'inscrire</a>
						{% endif %}
					{% endif %}	
				{% endfor %}
			{% endif %}	
		{% endif %}

		<h4>Utilisateur(s) enregistré(s)</h4>

		{% if registredUsers is not empty %}
			{% for userRegistred in registredUsers %}
				{{ userRegistred.username }} 
			{% endfor %}
		{% else %}
			<p>Aucun inscrit</p>
		{% endif %}	

		<h4>Questions</h4>
		{% if is_granted('ROLE_USER') %}

			{{ form_start(form) }}

			<div class="form-group">
				{{ form_errors(form.content) }}
				{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
			</div>

			{{ form_widget(form.save, {'attr': {'class': 'btn  btn-default', 'value' : ' '}}) }}

			{{ form_widget(form) }}

			{{ form_end(form) }}

		{% else %}    
			<p><a href="{{ path('fos_user_security_login') }}" >Connectez-vous</a> ou <a href="{{ path('fos_user_registration_register')}}">inscrivez-vous</a> pour poser une question</p>
		{% endif %}

		<div class="questions">
			{% if comments is not empty %}
				{% for comment in comments %}
					<div class="comment">
						<p><b>{{ comment.user.username }} : </b> {{ comment.content }}</p>
					</div>
				{% endfor %}
			{% else %}  
				<p>Aucune question pour l'instant</p>
			{% endif %}
		</div>
	</div>

{% endblock %}
