{% extends "PWEvmeetBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
{% endblock %}

{% block body %}
	<div>
		<a class="btn btn-default" href="{{ path('pw_evmeet_liste')}}" role="button">Trouver un partenaire de grimpe</a>
	</div>
	<div>
    	{% if is_granted('ROLE_USER') %}
    		<a class="btn btn-default" href="{{ path('pw_evmeet_creation')}}" role="button">Créez votre annonce</a>
		{% else %}    
			<a class="btn btn-default" href="{{ path('fos_user_security_login') }}" role="button">Se connecter</a>
			<a class="btn btn-default" href="{{ path('fos_user_registration_register')}}" role="button">S'inscrire</a>
		{% endif %}
	</div>
{% endblock %}