<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Ev-meet{% endblock %}</title>

	{% block stylesheets %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#edeff5",
            "text": "#838391"
          },
          "button": {
            "background": "#f8771c",
            "text": "#ffffff"
          }
        },
        "theme": "edgeless",
        "content": {
          "message": "Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.",
          "dismiss": "J’accepte",
          "link": "En savoir plus",
          "href": "https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi"
        }
      })});
    </script>
  {% endblock %}
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('pw_evmeet_homepage') }}">espace vertical</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ path('pw_evmeet_liste') }}">Annonces</a></li>
          {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('pw_evmeet_creation') }}">Créer une annonce</a></li>
            <li><a href="{{ path('pw_evmeet_profil') }}">Mon profil</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
          {% else %}    
            <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
            <li><a href="{{ path('fos_user_registration_register')}}">S'inscrire</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {% block body %}
      {% block fos_user_content %}
      {% endblock fos_user_content %}
    {% endblock %}
  </div>
  
  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>